<a href="https://colab.research.google.com/github/sasireddyvari/Python_Assignments/blob/master/Assignment3_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()**

In [2]:
# Map returns a list of values
# Reduce returns a single value
# Filter returns a boolean value for each item in the iterable

def myreduce(fun,seq):
  first = seq[0]
  for i in seq[1:]:
    first = fun(first, i)
  return first

def sum(a,b):
  return a+b

# My Own Reduce Function
l=[1,2,3]
myreduce(sum,l)

6

**1.2. Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()**

In [12]:
def isPrime(x):
  for n in range(2,x):
    if x < 2:
      return False
    elif x == 2:
      return True 
    if x%n==0:
      return False
    else:
      return True

def myfilter(fun, seq):
  result = [] # iterate over sequence of items in sequence and apply filter function
  for item in seq:
    if fun(item):
      result.append(item)
  return result

# Test Own filter
list(myfilter(isPrime,range(40)))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

**2. Implement List comprehensions to produce the following lists.Write List comprehensions to produce the following Lists.**

* ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']  
* ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
* [[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
* [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

* [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [25]:
# An Instance
word = "SASIKUMAR"
alphabet_list = [ alphabet for alphabet in word ]
print ("SASIKUMAR => " + str(alphabet_list))

SASIKUMAR => ['S', 'A', 'S', 'I', 'K', 'U', 'M', 'A', 'R']

In [26]:
input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,5)  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [17]:
input_list = ['x','y','z']
result = [ item*num for num in range(1,5) for item in input_list  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [18]:
input_list = [2,3,4]
result = [ [item+num] for item in input_list for num in range(0,3)]
print("[2,3,4] =>" +  str(result))

[2,3,4] =>[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [19]:
input_list = [2,3,4,5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print("[2,3,4,5] =>" +  str(result))

[2,3,4,5] =>[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [20]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print("[1,2,3] =>" +  str(result))

[1,2,3] =>[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]